<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media mb-3">
        <div class="mr-3">
          <% if user.image? %>
            <%= image_tag user.image.url, :size => '100x100', class: 'img-fluid' %>
          <% else %>
            <%= image_tag 'default_image.png', :size => '100x100', class: 'img-fluid' %>
          <% end %>
        </div>
        <div class="media-body mr-3">
          <div><%= user.name %></div>
          <div>
            <p><%= link_to 'Profile', user_path(user) %></p>
          </div>
        </div>
        
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>